<header class="navbar bg-base-10 bg-blue-100">
  <% if logged_in? %>
    <%= link_to "共有デッキ", decks_path, class:"btn btn-ghost"%>
    <%= link_to "マイページ", your_decks_path, class:"btn btn-ghost"%>
    <%= link_to "プロフィール","", class:"btn btn-ghost"%>
    <%= button_to "ログアウト", logout_path, method: :delete, data: { turbo: false }, class:"btn btn-ghost"%>
    <a class="btn btn-ghost text-l">的な</a>
    <p>#ログイン中</p>
  <% else %>  
    <%= link_to "共有のデッキ", decks_path, class:"btn btn-ghost"%>
    <%= button_to "GitHubでログイン", "/auth/github", method: :post, data: { turbo: false }, class:"btn"%>
    <%= link_to "トップ", root_path, class:"btn btn-ghost text-l"%>
    <a class="btn btn-ghost text-l">的な</a>
  <% end %>
</header>
<% 
=begin
<% if logged_in? %>  

<% else %>

=end %>