【 カード作成 】
<br/>
<br/>


<br/>
<br/>
<br/>
<div class="card bg-base-100 shadow-xl min-w-0 m-[30px] p-[20px]">
  <div class="card-body ">
    <h1 class="card-title  ">カード作成</h1>
    <br/>
      <%= form_with model: @card, local: true do |f| %>
        <div class="flex flex-col">
          <h2 class="flex-grow flex-basis flex-shrink min-w-0">
            <%= f.label :title, "カードのタイトル", class:"form-label" %>
          </h2>
          <div class="flex-grow flex-basis flex-shrink min-w-0">
            <%= f.text_field :title, class: "form-control textarea textarea-bordered textarea-xs w-full max-w-xs" %>
          </div>
        </div>
        <br/>
        <div class="flex">
          <div class="container">
            <%= f.label :body, "コードブロック", class:"form-label" %>
            <br/>
            <div class="bg-base-100">
              <%= f.text_area :body, id: "my-text-area", class: "form-control" %>
            </div>
          </div>
          <div class="container">
            <%= f.label :anser, "コードの解答", class:"form-label" %>
            <br/>
            <div class="bg-base-100">
              <%= f.text_area :answer, id: "my-answer-area", class: "form-control" %>
            </div>
          </div>
        </div>
        <br/>
        
        <div class="">
          <%= f.label :remarks, "備考", class:"form-label" %>
          <%= f.text_area :remarks, class: "form-control textarea textarea-bordered textarea-lg w-full w-2/3" %>
        </div>
        <br/>
        <%= f.submit "保存する", class:"btn btn-outline btn-info" %>
      <% end %> 

      <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          const easyMDE1 = new EasyMDE({ element: document.getElementById('my-text-area') });
          const easyMDE2 = new EasyMDE({ element: document.getElementById('my-answer-area') });
        });
      </script>
    <p></p>
  </div>
</div>
          <div class="flex flex-col custom:flex-row">
            <div class="flex-grow flex-basis flex-shrink min-w-0 m-[10px] card bg-blue-100" style="flex-basis: 50%;" id="questionCard"></div>
            <div class="flex-grow flex-basis flex-shrink min-w-0 m-[10px] card bg-violet-200" style="flex-basis: 50%;" id="answerCard"></div>
          </div>



