<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application.tailwind", "data-turbo-track": "reload" %>
    <%# <%= stylesheet_link_tag "easymde/dist/easymde.min", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <meta name="turbo-visit-control" content="reload">
  </head>

  <body class="flex flex-col min-h-screen bg-black">
    <%# <div  class="navbar bg-base-10 bg-blue-200"> %>
      <%# <%= render 'shared/header' %>
    <div class="sidebar fixed top-0 bottom-0 lg:left-0 p-2 w-[300px] overflow-y-auto text-center bg-gray-900">
      <%= render 'shared/sidebar' %>
    </div>
    <div class="flex-1 ml-[300px] p-4">
      <main class="flex-grow bg-slate-900 rounded-lg shadow-xl p-6">
        <%= yield %>
      </main>
    </div>

    <%# <%= render 'shared/footer' %>
  </body>

</html>
